# ========================================
# Gradle
# ========================================
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
.gradle-build/

# ========================================
# Java
# ========================================
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*
*.hprof

# ========================================
# IntelliJ IDEA / Android Studio
# ========================================
.idea/
*.iml
*.ipr
*.iws
out/
.DS_Store

# ========================================
# Eclipse
# ========================================
.project
.classpath
.settings/
bin/

# ========================================
# VS Code
# ========================================
.vscode/

# ========================================
# OS spécifiques
# ========================================
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ========================================
# Archives / fichiers temporaires
# ========================================
*.war
*.ear
*.jar
*.zip
*.tar.gz
*.tmp
